<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitness.admin.user.mapper.UserMapper">

    <select id="selectTagsByUserId" resultType="com.fitness.admin.user.entity.UserTag">
        SELECT t.* FROM user_tag t
        INNER JOIN user_tag_relation utr ON t.id = utr.tag_id
        WHERE utr.user_id = #{userId} AND t.deleted = 0
    </select>

</mapper>
